


<div class="card">
    <div class="header">
        <h1 class="title">Flight Edit</h1>
    </div>
    <div class="content">

    <div *ngIf="warningDialog.show" class="alert alert-warning" >
            <div>
                Unsaved data. Do you really want to leave?
            </div>
            <p>&nbsp;</p>
            <div>
                <a href="javascript:void(0)" (click)="decide(true)" class="btn btn-danger">Yes</a>
                <a href="javascript:void(0)" (click)="decide(false)" class="btn btn-default">No</a>
            </div>
        </div>

        <p>Id: {{id}}</p>
        <p>ShowDetails: {{showDetails}}</p>

        <form [formGroup]="form">


            <h2>Dynamic Form</h2>

            <div class="form-group" *ngFor="let entry of dynamicMetaData">
                    <label>{{entry.label}}</label>
                    <input [formControlName]="entry.name" name="id" class="form-control">
            </div>
    


            <h2>Static Form</h2>

            <div *ngIf="!form.valid"><pre>{{form.errors | json}}</pre></div>

            <div class="form-group">
                <label>Id:</label>
                <input formControlName="id" name="id" class="form-control">
            </div>
            <div class="form-group">
                <label>From:</label>
                <input formControlName="from" class="form-control">

                <div *ngIf="!form.controls['from'].valid">... Fehler ... </div>
                <div *ngIf="!form.controls['from'].valid"><pre>{{ form.controls['from'].errors | json }}</pre> </div>

            </div>
            <div class="form-group">
                <label>To:</label>
                <input formControlName="to" name="to" class="form-control">
            </div>
            <div class="form-group">
                <label>Date:</label>
                <date-control formControlName="date" name="date"></date-control>
            </div>

        </form>
        <pre>{{ flight | json }}</pre>
    </div>

</div>

