
<div class="card">
    <div class="header">
        <h1 class="title">Flight Edit</h1>
    </div>
    <div class="content">

<!--  
  <div style="position:relative; z-index: 100" *ngIf="warningDialog.show" class="alert alert-warning">
      <div>
      Daten wurden nicht gespeichert! Trotzdem Maske verlassen?
      </div>
      <p>&nbsp;</p>
      <div>
          <a href="javascript:void(0)" (click)="decide(true)" class="btn btn-danger">Yes</a>
          <a href="javascript:void(0)" (click)="decide(false)" class="btn btn-default">No</a>
      </div>
  </div>
-->

        <p>Id: {{id}}</p>
        <p>ShowDetails: {{showDetails}}</p>
        <pre>{{ flight | json }}</pre>
    </div>

</div>