<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
      <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
      <navbar-cmp></navbar-cmp>
      <div class="content">
          <router-outlet></router-outlet>
        </div>

  </div>
  
</div>

<router-outlet name="aux"></router-outlet>

<div class="loading-indicator" *ngIf="showWaitInfo" style="z-index:2;">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
