


<div class="card">

<div class="header">
    <h2 class="title">Flight Search</h2>
</div>
<div class="content">

<form #f="ngForm" roundTrip>

    <div class="form-group">
        <label>From:</label>
        <input 
            name="from" 
            [(ngModel)]="from" 
            class="form-control"
            required
            minlength="3"
            maxlength="30"
            asyncCity
            city="Graz,Hamburg,Berlin,Zürich,Frankfurt,Wien,Flagranti"
            pattern="[\wöäüßÖÄÜ]*">


        <div *ngIf="f?.hasError('roundTrip')">... RoundTrip ...</div>

        <div *ngIf="!f?.controls['from']?.valid">... Error ...</div>
        <div *ngIf="f?.controls['from']?.hasError('required')">... Required ...</div>
        <div *ngIf="f?.controls['from']?.hasError('minlength')">... MinLength ...</div>
        <div *ngIf="f?.controls['from']?.hasError('maxlength')">... MaxLenth ...</div>
        <div *ngIf="f?.controls['from']?.hasError('pattern')">... Pattern ...</div>
        <div *ngIf="f?.controls['from']?.hasError('city')">... City ...</div>
        <div *ngIf="f?.controls['from']?.hasError('asyncCity')">... asyncCity ...</div>
        <div *ngIf="!f?.controls['from']?.valid"><pre>{{ f?.controls['from']?.errors.city.reason | json }}</pre></div>
        <div *ngIf="f?.controls['from']?.pending">
            <marquee>Validiere ...</marquee>
        </div>
        
        <!-- email, requiresTrue, min, max -->
    </div>
    <div class="form-group">
        <label>To:</label>
        <input name="to" [(ngModel)]="to" class="form-control">
    </div>

    <div class="form-group">
        <button 
            class="btn btn-default"
            (click)="search()" 
            [disabled]="!f?.valid">Search</button>

        <button 
            class="btn btn-default"
            (click)="delay()" 
            [disabled]="flights.length === 0">Delay</button>


        </div>
</form>

</div>
</div>

<div  class="row">

    <div *ngFor="let f of flights$ | async" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <flight-card 
                [item]="f" 
                [selected]="basket[f.id]"
                (selectedChange)="basket[f.id] = $event"></flight-card>
    </div>
</div>

<!--
<div class="card">

    <table class="table table-contensed" *ngIf="flights.length > 0">
        <thead>
        <tr>
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tr *ngFor="let f of flights" [class.active]="f === selectedFlight">
            <td>{{f.id}}</td>
            <td>{{f.from}}</td>
            <td>{{f.to }}</td>
            <td>{{f.date | date:'dd.MM.yyyy HH:mm'}}</td>
            <td>
                <a (click)="select(f)">Select</a> |
                <a [routerLink]="['../flight-edit', f.id]">Edit</a>
            
            </td>
        </tr>
    </table>

</div>
-->

<div class="card">
    <div class="content">
        <pre>{{ basket | json }}</pre>
    </div>
</div>


